src/main/mule/picco-work-items.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:tls="http://www.mulesoft.org/schema/mule/tls" xmlns:email="http://www.mulesoft.org/schema/mule/email"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:wsc="http://www.mulesoft.org/schema/mule/wsc" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/wsc http://www.mulesoft.org/schema/mule/wsc/current/mule-wsc.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/email http://www.mulesoft.org/schema/mule/email/current/mule-email.xsd
http://www.mulesoft.org/schema/mule/tls http://www.mulesoft.org/schema/mule/tls/current/mule-tls.xsd">

	<flow name="picco-work-items-created-invoke-soap-service" doc:id="2bac04fb-1f2c-408f-bd2f-1d2bcf1bf9be" >
		<set-variable value="Akhilesh" doc:name="Set ActionBy" doc:id="e4732cba-a21e-4e13-9048-701cc7bc1bd1" variableName="actionBy"/>
		<ee:transform doc:name="Transform Payload &amp; SOAP Headers" doc:id="c4e779c4-cf60-4860-a3c2-c1127e1cb1b9">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/xml
ns ns0 http://www.multispeak.org/V5.0/wsdl/NOT_Server
ns ns01 http://www.multispeak.org/V5.0/commonArrays
ns ns02 http://www.multispeak.org/V5.0
---
{
	ns0#WorkUnassignmentNotification: {
		ns0#ArrayOfWorkUnassignment: {
			ns01#workUnassignment: {
				ns02#actionBy: vars.actionBy
			}
		}
	}
 
}]]></ee:set-payload>
			</ee:message>
			<ee:variables>
				<ee:set-variable variableName="setHeaders"><![CDATA[%dw 2.0
output application/xml
ns ns0 http://www.multispeak.org/V5.0/ws/request
ns ns01 http://www.multispeak.org/V5.0/commonTypes
---
{
 headers: {
	ns0#MultiSpeakRequestMsgHeader: {
		ns0#MultiSpeakVersion: {
			ns01#MajorVersion: "V1",
			ns01#MinorVersion: "1.3",
			ns01#Build: "Dev"
		},
		ns0#Caller: {
			ns01#AppName: "Picco Test App"
		}
	}
  }
}]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<wsc:consume operation="WorkUnassignmentNotification" doc:name="Consume Work Items WebService" doc:id="84efe679-ba04-48ff-a4ac-02c62b4d54f1" config-ref="Web_Service_Consumer_Config" target="workItemsRs">
			<reconnect frequency="3000" count="3" />
			<wsc:message>
				<wsc:headers><![CDATA[#[vars.setHeaders]]]></wsc:headers>

			</wsc:message>

		</wsc:consume>
		<logger level="INFO" doc:name="Log Response Payload" doc:id="3709a593-7a4b-4dc3-b180-b6eb71ecaa5b" message="#['\n\nResponse from Work Items SOAP Service:\n ']#[vars.workItemsRs]#[' \n']" />
		<ee:transform doc:name="Transform Response" doc:id="3607114e-5c27-49c8-8eac-3c6934c59a13">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
vars.workItemsRs.body]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<error-handler >
			<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="fa2d525b-465c-4288-8bb8-3c9e303221b2" type="ANY">
				<logger level="INFO" doc:name="Logger" doc:id="5bc40e15-6e5d-46b0-89dc-dde0aea8ec11" message="#['\n\nError occured while executing the process for work unassignment notification\n']"/>
				<ee:transform doc:name="Transform Error Message" doc:id="ad7721c1-87e0-4387-b393-8a1d639e1b51" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	detailedError:  write(error.exception.cause, "application/java")
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<email:send doc:name="Send Notification Email" doc:id="7c71715f-865f-4d00-86b9-5d79b7b65b9a" config-ref="Email_SMTP" fromAddress="${smtp.mail.from}" subject="${smtp.mail.subject}">
					<email:to-addresses >
						<email:to-address value="${smtp.mail.to}" />
					</email:to-addresses>
					<email:body contentType="text/plain" />
				</email:send>
				<logger level="INFO" doc:name="Logger" doc:id="1c5785c9-2999-492c-b0a0-a8acf9b999e4" message="#['\n\nEmail notification sent with error details\n']"/>
			
</on-error-continue>
		</error-handler>

	</flow>

</mule>
